References/
Unity/ISS/Assets/*
!Unity/ISS/Assets/*.json
Unity/ISS/Library/
Unity/ISS/Logs/
Unity/ISS/Packages/
Unity/ISS/ProjectSettings/
Unity/ISS/Temp
Unity/ISS/UserSettings/
Releases/
Scripts/
*.sauv*
*.blend1
*.spp*
/Texture/Normal Maps/Comptes rendus normalmaps.aep
*.aep
